<h1>Pets#edit</h1>


<%=form_for @pet do |f|%>
  <%=f.label :name%>
  <%=f.text_field :name%>
  <%=f.label :species%>
  <%=f.text_field :species%>
  <%=f.collection_select(:owner_id, Owner.all, :id, :full_name)%>
  <%=f.submit "Submit Edit"%>
<%end%>
